# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\c语言实践\排班\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
